<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="items">
      <section name="applications" type="System.Configuration.DictionarySectionHandler" />
      <section name="urls" type="System.Configuration.DictionarySectionHandler" />
      <section name="applicationConfiguration" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <items>
    <applications>
      <add key="discord" value="C:\Users\matho\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Discord Inc\Discord.lnk" />
      <add key="teams" value="C:\Users\matho\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Microsoft Teams.lnk" />
    </applications>
    <urls>
      <add key="cpnv_intranet" value="http://intranet.cpnv.ch/" />
      <add key="cpnv_mail" value="https://mail.cpnv.ch/" /> 
      <add key="any_do" value="https://www.any.do/" /> 
    </urls>
    <applicationConfiguration>
      <add key="browser_path" value="test" />
      <add key="should_automatically_close" value="caca" />
    </applicationConfiguration>
  </items>
</configuration>