<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="items">
      <section name="applications" type="System.Configuration.DictionarySectionHandler" />
      <section name="urls" type="System.Configuration.DictionarySectionHandler" />
      <section name="applicationConfiguration" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <items>
    <applications>
      <!-- Add your applications to run here ! -->
      <add key="discord" value="C:\Users\matho\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Discord Inc\Discord.lnk" />
      <add key="teams" value="C:\Users\matho\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Microsoft Teams.lnk" />
    </applications>
    <urls>
      <!-- Add your URLs to browse here ! -->
      <add key="cpnv_intranet" value="http://intranet.cpnv.ch/" />
      <add key="cpnv_mail" value="https://mail.cpnv.ch/" /> 
      <add key="any_do" value="https://www.any.do/" />
    </urls>
    <applicationConfiguration>
      <!-- The browser to use -->
      <add key="browser_path" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
      <!-- Do you want automatically close the application ? Put true if yes.-->
      <add key="should_automatically_close" value="false" />
    </applicationConfiguration>
  </items>
</configuration>