<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="items">
      <section name="applications" type="System.Configuration.DictionarySectionHandler" />
      <section name="urls" type="System.Configuration.DictionarySectionHandler" />
    </sectionGroup>
  </configSections>
  <items>
    <applications>
      <add key="discord" value="C:\Users\matho\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Discord Inc\Discord.lnk" />
      <add key="teams" value="C:\Users\matho\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Microsoft Teams.lnk" />
    </applications>
    <urls>
      <add key="cpnv_intranet" value="http://intranet.cpnv.ch/" />
      <add key="cpnv_mail" value="https://mail.cpnv.ch/" />
    </urls>
  </items>
</configuration>